@value hrColor from '../../../../../css/colors.css';

.grayHr{
    border: 1px solid hrColor;
    width: 100%;
}

.navigation{
    height: 50px;
    margin-left: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.popUpButton{
    width: 50px;
    height: 20px;
    border: 0;
    cursor: pointer;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.leftButtons{
    display: flex;
    justify-content: space-between;
}

.heartButton{
    background-image: url(../../images/heartBlack.png);
}

.heartButtonRed{
    background-image:url(../../images/heartRed.jpg);
    background-size: 15px 15px;
    margin-left: 2px;
}

.commentButton{
    background-image: url(../../images/comment.png);
}

.upLoadButton{
    background-image: url(../../images/upLoad.png);
    background-size: 15px 15px;
}

.saveButton{
    background-image: url(../../images/save.png);
}


