@value bodyColor from '../../../css/colors.css';
@value blueButton from '../../../css/colors.css';
@value hrColor from '../../../css/colors.css';
@value popUpBackground from '../../../css/colors.css';
@value myWhite from '../../../css/colors.css';

.popUp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: popUpBackground;
    z-index: 1;
}

.hr{
    border: 1px solid hrColor;
    width: 100%;
}

.photo{
    width: 25vw;
    height: 50vh;
}

.photoInformation {
    width: 22vw;
    height: 50vh;
    background-color: bodyColor;
    display: grid;
    grid-template-rows: 8vh 26vh 10vh 5vh;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    margin-left: 10px;
}

.name::after{
    @mixin addIconBefore;
    background-image: url(../User/images/verification.png);
}

.follow{
    @mixin removeDefaultButton;
    margin-left: 5px;
    padding: 0;
    background-color: bodyColor;
}

.points{
    background-image: url(./images/points.png);
    background-size: 17.5px 5px;
    width: 17.5px;
    height: 5px;
}

.commentsField{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentsField>.ul{
    height: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.leftButtons, .heartButtonRed, .heartButton, .commentButton, .upLoadButton, .saveButton{
    width: 50px;
    height: 20px;
    border: 0;
    cursor: pointer;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.leftButtons{
    display: flex;
    justify-content: space-between;
}

.heartButton{
    background-image: url(./images/heartBlack.png);
}

.heartButtonRed{
    background-image:url(./images/heartRed.jpg);
    background-size: 15px 15px;
    margin-left: 2px;
}

.commentButton{
    background-image: url(./images/comment.png);
}

.upLoadButton{
    background-image: url(./images/upLoad.png);
    background-size: 15px 15px;
}

.saveButton{
    background-image: url(./images/save.png);
}

.comment{
    display: flex;
    justify-content: space-between;
}

.post{
    @mixin removeDefaultButton;
    width: 10%;
    margin-right: 5px;
    color: blueButton;
    background-color: bodyColor;
    cursor: pointer;
}

.addComment{
    width: 90%;
    padding: 5px;
    outline: none;
    border: 0;
    background-color: bodyColor;
}
