@value myGrey from '../../../css/colors.css';

.avatar{
    border-radius: 100%;
    background-color: myGrey;
    background-image: url(./images/tolkienAvatar.jpg);
    background-repeat: no-repeat;
}
