@value bodyColor from '../../../css/colors.css';
@value linkColor from '../../../css/colors.css';
@value hrColor from '../../../css/colors.css';

.main{
    min-height: 100vh;
    width: 100vw;
    padding: 71px 175px 0 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bodyColor;
    @media  (--media-tablet-l){ /*от 768 до 1024*/
        padding: 71px 40px 0 40px;
    }
    @media  (--media-tablet-s){ /*до 768*/
        padding: 71px 0 0 0;
    }
    @media  (--media-desktop-s){ /*от 1024 до 1360*/
        padding: 71px 90px 0 90px;
    }
    @media  (--media-desktop-m){ /*от 1360 до 1600*/
        padding: 71px 220px 0 220px;
    }
    @media  (--media-desktop-l){ /*от 1600 до 1716*/
        padding: 71px 375px 0 375px;
    }

}

.hr{
    @mixin hrStyle;
}

.buttons{
    display: flex;
    justify-content: center;
}

.postsButton, .taggedButton{
    @mixin removeDefaultButton;
    width: 100px;
    margin-top: -9px;
    margin-right: 10px;
    border-top: 1px solid hrColor;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.postsButton::before{
    @mixin addIconBefore;
    background-image: url(./images/posts.png);
}

.taggedButton::before{
    @mixin addIconBefore;
    background-image: url(./images/tagged.png);
}

.buttonClicked{
    border-top: 1px solid black;
}

.footer{
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
}

.footerLinks{
    margin-right: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: linkColor;
    @media (--media-tablet-l){
        font-size: 12px;
    }
    @media (--media-tablet-s){
        font-size: 8px;
    }
}




