@value hrColor from '../../../css/colors.css';
@value blueButton from '../../../css/colors.css';
@value bodyColor from '../../../css/colors.css';
@value myWhite from '../../../css/colors.css';

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid hrColor;
    background-color: myWhite;
    transition: 0.75s height cubic-bezier(0, 0, 0, 1);
    @media  (--media-tablet-l){ /*от 768 до 1024*/
        padding: 0 40px 0 40px;
    }
    @media  (--media-tablet-s){ /*до 768*/
        padding: 0 15px 0 15px;
    }
    @media  (--media-desktop-s){ /*от 1024 до 1360*/
        padding: 0 90px 0 90px;
    }
    @media  (--media-desktop-m){ /*от 1360 до 1600*/
        padding: 0 220px 0 220px;
    }
    @media  (--media-desktop-l){ /*от 1600 до 1716*/
        padding: 0 375px 0 375px;
    }


}

.headerScroll{
    height: 40px;
}

.logo, .logoScroll{
    @mixin removeDefaultButton;
    width: 250px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.logo{
    height: 78px;
    background-image: url("./images/instagramLogo.png");
    background-color: myWhite;
    transition:
            0.75s height cubic-bezier(0, 0, 0, 1),
            0.75s background-image -1s cubic-bezier(0, 0, 0, 1);
}

.logoScroll{
    height: 38px;
    background-image: url("./images/instagramLogoMini.png");
    background-size: 50px 38px;
}

.search {
    width: 225px;
    height: 30px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid hrColor;
    outline: none;
    font-size: 14px;
    text-align: center;
    background-color: bodyColor;
    @media (--media-phone) {
        display:none;
    }
}

.search:focus{
    text-align: left;
    background-color: myWhite;
}

.logInButton, .singUpButton{
    @mixin removeDefaultButton;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.logInButton {
    margin-right: 5px;
    border-radius: 4px;
    background-color: blueButton;
    color: white;
    @media (--media-tablet-s){
        padding: 3px 6px;
    }
}

.singUpButton{
    background-color: myWhite;
    color: blueButton;
}



