@value hrColor from '../../../css/colors.css';
@value blueButton from '../../../css/colors.css';
@value bodyColor from '../../../css/colors.css';
@value myWhite from '../../../css/colors.css';

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid hrColor;
    background-color: myWhite;
    transition: 0.75s height cubic-bezier(0, 0, 0, 1);
    @media (--media-tablet-s){
        justify-content: space-between;
    }
}

.headerScrollClass{
    height: 40px;
}

.logo, .logoScroll{
    @mixin removeDefaultButton;
    width: 250px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.logo{
    height: 78px;
    background-image: url("./images/instagramLogo.png");
    background-color: myWhite;
    transition:
            0.75s height cubic-bezier(0, 0, 0, 1),
            0.75s background-image -1s cubic-bezier(0, 0, 0, 1);
}

.logoScroll{
    height: 38px;
    background-image: url("./images/instagramLogoMini.png");
    background-size: 50px 38px;
}

.search {
    width: 160px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid hrColor;
    outline: none;
    font-size: 14px;
    text-align: center;
    background-color: bodyColor;
}

.search:focus{
    text-align: left;
    background-color: myWhite;
}

.logInButton, .singUpButton{
    @mixin removeDefaultButton;
    margin-right: 5px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.logInButton {
    border-radius: 4px;
    background-color: blueButton;
    color: white;
    @media (--media-tablet-s){
        padding: 3px 6px;
    }
}

.singUpButton{
    background-color: myWhite;
    color: blueButton;
}



