@value bodyColor from '../../../../../css/colors.css';
@value blueButton from '../../../../../css/colors.css';
@value hrColor from '../../../../../css/colors.css';
@value popUpBackground from '../../../../../css/colors.css';
@value myWhite from '../../../../../css/colors.css';
@value postColor from '../../../../../css/colors.css';
@value myGrey from '../../../../../css/colors.css';

.popUp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: popUpBackground;
    z-index: 1;
}
.popupField{
    max-width: 75vw;
    display: flex;
}
.arrowButton, .closePopup{
@mixin removeDefaultButton;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}
.arrowButton{
    width: 25px;
    height: 25px;
    background-image: url(../../images/arrow.png);
    background-size: 25px 25px;
}
.closePopup{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 14px;
    background-image: url(../../images/cross.png);
    background-size: 18px 18px;

}
.transformArrow{
    transform: rotate(180deg)
}
.displayNone{
@mixin removeDefaultButton;
    height: 0;
    width: 25px;
}
.grayHr{
    border: 1px solid hrColor;
    width: 100%;
}

.photo{
    min-width: 20vw;
    min-height: 40vh;
    max-width: 40vw;
    max-height: 75vh;
}

.photoInformation {
    width: 300px;
    max-width: 25vw;
    background-color: bodyColor;
    font-family: 'Roboto', sans-serif;
}

.nickNameMargin{
    margin-left: 10px;
}

.navigation{
    height: 50px;
    margin-left: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.popUpButton{
    width: 50px;
    height: 20px;
    border: 0;
    cursor: pointer;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.leftButtons{
    display: flex;
    justify-content: space-between;
}

.heartButton{
    background-image: url(../../images/heartBlack.png);
}

.heartButtonRed{
    background-image:url(../../images/heartRed.jpg);
    background-size: 15px 15px;
    margin-left: 2px;
}

.commentButton{
    background-image: url(../../images/comment.png);
}

.upLoadButton{
    background-image: url(../../images/upLoad.png);
    background-size: 15px 15px;
}

.saveButton{
    background-image: url(../../images/save.png);
}

.comment{
    height: 30px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.post{
@mixin removeDefaultButton;
    width: 10%;
    margin-right: 5px;
    font-size: 11.5px;
    color: blueButton;
    background-color: bodyColor;
    cursor: pointer;
}
.postIfInputIsEmpty{
    color: postColor;
}

.addComment{
    width: 90%;
    padding: 5px 10px 15px 10px;
    outline: none;
    border: 0;
    background-color: bodyColor;
}
