@define-mixin removeDefaultButton {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
    line-height: normal;
    overflow: visible;
    background-color: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:focus {
         outline: none;
         box-shadow: none;
     }
}

@define-mixin addIconBefore {
    content: '';
    width: 15px;
    height: 15px;
    margin: 0 3px -2px 5px;
    display: inline-block;
    background-size: 13.5px 13.5px;
    background-repeat: no-repeat;
}
