@value myWhite from '../../../css/colors.css';
@value popUpBackground from '../../../css/colors.css';

.photo{
    @mixin removeDefaultButton;
    width: 31%;
    height: 320px;
    margin-bottom: 3%;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    @media (--media-desktop){
        height: 370px;
    }
    @media (--media-tablet-l){
        height: 310px;
    }
    @media (--media-tablet-s){
        width: 33%;
        height: 250px;
        margin-bottom: 2px;
    }
    @media (--media-phone){
        height: 200px;
        width: calc(31% - 0.01px);
    }
    @media (media-phone-s){
        height: 150px;
    }
}
.middlePostStyle{
    margin: 0 3.5% 0 3.5%;
    @media (--media-tablet-s){
        margin: 0 2px 0 2px;
    }
}

.hoverPhoto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: popUpBackground;
}

.likes, .comments{
    margin-right: 10px;
    font-size: 20px;
    color: myWhite;
}

.likes:before{
    @mixin addIconBefore;
    background-image: url(./images/whiteHeart.png);
}

.comments:before{
    @mixin addIconBefore;
    background-image: url(./images/comment.png);
    background-color: myWhite;
}

.hoverPhoto:hover{
    opacity: 1;
}
