.photo{
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.hoverPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}
.hoverPhoto>div>span{
    margin-right: 10px;
    font-size: 200%;
    color: white;
}

#likes:before{
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 5px;
    display: inline-block;
    background-image: url(./images/whiteHeart.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    text-align: center;
}
#comments:before{
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 5px;
    display: inline-block;
    background-image: url(./images/comment.png);
    background-color: white;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    text-align: center;
}


.hoverPhoto:hover{
    opacity: 1;
}
