@value blueButton from '../../../css/colors.css';
@value linkColor from '../../../css/colors.css';
@value myWhite from '../../../css/colors.css';
@value myBlack from '../../../css/colors.css';
@value myGrey from '../../../css/colors.css';
@value hrColor from '../../../css/colors.css';

.container{
    overflow: hidden;
}
.user{
    margin: 65px 70px 55px 70px;
    display: flex;

    @media (--media-tablet-s){
        margin-left: 5px;
    }
}

.userInformation{
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    @media (--media-tablet-s){
        margin-left: 25px;
    }
}

.nameAndFollow{
    margin-bottom: 25px;
    @media (--media-tablet-s){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
}

.nickName{
    font-size: 20px;
}

.nickName:after {
    @mixin addIconBefore;
    background-image: url(./images/verification.png);
}

.followButton{
    width: 100px;
    margin-left: 11px;
    padding: 6px 5px;
    font-size: 14px;
    border: 1px solid hrColor;
    border-radius: 4px;
    background-color: myWhite;
    color: myBlack ;
    cursor: pointer;
    @media (--media-tablet-s){
        margin: 5px 0;
    }
}

.followingButton{
    border: 1px solid blueButton;
    background-color: blueButton;
    color: myWhite;
}

.followers{
    display: flex;
}

.followersInfo{
    margin: 0 30px 25px 0;
    @media (--media-tablet-s){
        display: none
    }
}

.bold{
    font-weight: bold;
}

.nameWorkWeb{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    @media (--media-tablet-s){
        margin: 30px -130px;
    }
}

.nameWorkWeb>.bold{
    text-decoration: none;
    color: linkColor;
}
.hr{
    @mixin hrStyle;
}
.followersInfoMobile{
    display: none;

    @media (--media-tablet-s){
        width: 100%;
        display: block
    }
}
.followersInfoMobileText{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.greyText{
    color: myGrey;
}
