@value blueButton from '../../../css/colors.css';
@value linkColor from '../../../css/colors.css';
@value myWhite from '../../../css/colors.css';
@value myBlack from '../../../css/colors.css';
@value hrColor from '../../../css/colors.css';

.user{
    margin: 80px 30px;
    display: flex;
}

.userInformation{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.nameAndFollow{
    margin-bottom: 25px;
}

.nickName{
    font-size: 20px;
    font-weight: bold;
}

.nickName:after {
    @mixin addIconBefore;
    background-image: url(./images/verification.png);
}

.followButton{
    margin-left: 11px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    background-color: myWhite;
    color: myBlack ;
    border: 1px solid hrColor;
}

.followingButton{
    border: 1px solid blueButton;
    background-color: blueButton;
    color: myWhite;
}

.followers{
    display: flex;
}

.followersInfo{
    margin: 0 10px 25px 0;
}

.bold{
    font-weight: bold;
}

.nameWorkWeb{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.nameWorkWeb>.bold{
    text-decoration: none;
    color: linkColor;
}
